.login {
  display: grid;
  place-items: center;

  height: 100vh;
  background-color: black;
}

.login > img {
  width: 70%;
}

.login > a {
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  background-color: #1db954;
}
